logicapp-workflow-codeview.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            },
            "DevOps_Org": {
                "type": "string",
                "defaultValue": "REPLACE_YOUR_ORG_NAME"
            },
            "DevOps_Project": {
                "type": "string",
                "defaultValue": "REPLACE_YOUR_PROJECT_NAME"
            },
            "DevOps_PAT": {
                "type": "securestring",
                "defaultValue": "REPLACE_YOUR_PAT_TOKEN"
            },
            "DocIntel_Endpoint": {
                "type": "string",
                "defaultValue": "REPLACE_https://YOUR_INSTANCE.cognitiveservices.azure.com"
            },
            "DocIntel_Key": {
                "type": "securestring",
                "defaultValue": "REPLACE_YOUR_DOCUMENT_INTELLIGENCE_KEY"
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "workItemId": {
                                "type": "integer",
                                "description": "The DevOps work item ID to process."
                            }
                        },
                        "required": [ "workItemId" ]
                    }
                }
            }
        },
        "actions": {
            "1_Get_WorkItem": {
                "type": "Http",
                "runAfter": {},
                "inputs": {
                    "method": "GET",
                    "uri": "@{concat('https://dev.azure.com/', parameters('DevOps_Org'), '/', parameters('DevOps_Project'), '/_apis/wit/workitems/', triggerBody()?['workItemId'], '?$expand=relations&api-version=7.1')}",
                    "headers": {
                        "Authorization": "@{concat('Basic ', base64(concat(':', parameters('DevOps_PAT'))))}"
                    }
                }
            },
            "2_Init_PDF_URL": {
                "type": "InitializeVariable",
                "runAfter": {
                    "1_Get_WorkItem": [ "Succeeded" ]
                },
                "inputs": {
                    "variables": [
                        {
                            "name": "PdfUrl",
                            "type": "string",
                            "value": "@{first(where(body('1_Get_WorkItem')?['relations'], item(), equals(item()?['rel'], 'AttachedFile')))?['url']}"
                        }
                    ]
                }
            },
            "3_Init_PDF_FileName": {
                "type": "InitializeVariable",
                "runAfter": {
                    "2_Init_PDF_URL": [ "Succeeded" ]
                },
                "inputs": {
                    "variables": [
                        {
                            "name": "PdfFileName",
                            "type": "string",
                            "value": "@{first(where(body('1_Get_WorkItem')?['relations'], item(), equals(item()?['rel'], 'AttachedFile')))?['attributes']?['name']}"
                        }
                    ]
                }
            },
            "4_Download_PDF": {
                "type": "Http",
                "runAfter": {
                    "3_Init_PDF_FileName": [ "Succeeded" ]
                },
                "inputs": {
                    "method": "GET",
                    "uri": "@{concat(variables('PdfUrl'), '?fileName=', variables('PdfFileName'))}",
                    "headers": {
                        "Authorization": "@{concat('Basic ', base64(concat(':', parameters('DevOps_PAT'))))}"
                    }
                }
            },
            "5_Submit_To_Document_Intelligence": {
                "type": "Http",
                "runAfter": {
                    "4_Download_PDF": [ "Succeeded" ]
                },
                "inputs": {
                    "method": "POST",
                    "uri": "@{concat(parameters('DocIntel_Endpoint'), '/formrecognizer/documentModels/prebuilt-document:analyze?api-version=2023-07-31')}",
                    "headers": {
                        "Ocp-Apim-Subscription-Key": "@parameters('DocIntel_Key')",
                        "Content-Type": "application/pdf"
                    },
                    "body": "@body('4_Download_PDF')"
                }
            },
            "6_Wait_15_Seconds": {
                "type": "Wait",
                "runAfter": {
                    "5_Submit_To_Document_Intelligence": [ "Succeeded" ]
                },
                "inputs": {
                    "interval": {
                        "count": 15,
                        "unit": "Second"
                    }
                }
            },
            "7_Get_Analysis_Result": {
                "type": "Http",
                "runAfter": {
                    "6_Wait_15_Seconds": [ "Succeeded" ]
                },
                "inputs": {
                    "method": "GET",
                    "uri": "@{outputs('5_Submit_To_Document_Intelligence')?['headers']?['Operation-Location']}",
                    "headers": {
                        "Ocp-Apim-Subscription-Key": "@parameters('DocIntel_Key')"
                    }
                }
            },
            "8_Return_Result": {
                "type": "Response",
                "runAfter": {
                    "7_Get_Analysis_Result": [ "Succeeded" ]
                },
                "inputs": {
                    "statusCode": 200,
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": "@body('7_Get_Analysis_Result')"
                }
            }
        },
        "outputs": {}
    },
    "parameters": {
        "$connections": {
            "value": {}
        }
    }
}
