logicapp-workflow-codeview.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "DevOps_Org": {
                "type": "string",
                "defaultValue": "REPLACE_YOUR_ORG_NAME"
            },
            "DevOps_Project": {
                "type": "string",
                "defaultValue": "REPLACE_YOUR_PROJECT_NAME"
            },
            "DevOps_PAT": {
                "type": "securestring",
                "defaultValue": "REPLACE_YOUR_PAT_TOKEN"
            },
            "DocIntel_Endpoint": {
                "type": "string",
                "defaultValue": "REPLACE_https://YOUR_INSTANCE.cognitiveservices.azure.com"
            },
            "DocIntel_Key": {
                "type": "securestring",
                "defaultValue": "REPLACE_YOUR_DOCUMENT_INTELLIGENCE_KEY"
            },
            "DocIntel_Model": {
                "type": "string",
                "defaultValue": "prebuilt-document"
            }
        },
        "triggers": {
            "Recurrence": {
                "type": "Recurrence",
                "recurrence": {
                    "frequency": "Hour",
                    "interval": 1
                }
            }
        },
        "actions": {
            "1_Init_Auth_Header": {
                "type": "InitializeVariable",
                "runAfter": {},
                "inputs": {
                    "variables": [
                        {
                            "name": "DevOpsAuthHeader",
                            "type": "string",
                            "value": "@{concat('Basic ', base64(concat(':', parameters('DevOps_PAT'))))}"
                        }
                    ]
                }
            },
            "2_Run_WIQL_Query": {
                "type": "Http",
                "runAfter": {
                    "1_Init_Auth_Header": [ "Succeeded" ]
                },
                "inputs": {
                    "method": "POST",
                    "uri": "@{concat('https://dev.azure.com/', parameters('DevOps_Org'), '/', parameters('DevOps_Project'), '/_apis/wit/wiql?api-version=7.1')}",
                    "headers": {
                        "Authorization": "@variables('DevOpsAuthHeader')",
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "query": "SELECT [System.Id] FROM WorkItems WHERE [System.WorkItemType] = 'Task' AND [System.State] <> 'Closed' ORDER BY [System.CreatedDate] DESC"
                    }
                }
            },
            "3_For_Each_WorkItem": {
                "type": "Foreach",
                "runAfter": {
                    "2_Run_WIQL_Query": [ "Succeeded" ]
                },
                "foreach": "@body('2_Run_WIQL_Query')?['workItems']",
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 1
                    }
                },
                "actions": {
                    "3a_Get_Attachments": {
                        "type": "Http",
                        "inputs": {
                            "method": "GET",
                            "uri": "@{concat('https://dev.azure.com/', parameters('DevOps_Org'), '/', parameters('DevOps_Project'), '/_apis/wit/workitems/', item()?['id'], '/attachments?api-version=7.1-preview.1')}",
                            "headers": {
                                "Authorization": "@variables('DevOpsAuthHeader')"
                            }
                        }
                    },
                    "3b_For_Each_Attachment": {
                        "type": "Foreach",
                        "runAfter": {
                            "3a_Get_Attachments": [ "Succeeded" ]
                        },
                        "foreach": "@body('3a_Get_Attachments')?['value']",
                        "runtimeConfiguration": {
                            "concurrency": {
                                "repetitions": 1
                            }
                        },
                        "actions": {
                            "3b1_Download_File": {
                                "type": "Http",
                                "inputs": {
                                    "method": "GET",
                                    "uri": "@item()?['url']",
                                    "headers": {
                                        "Authorization": "@variables('DevOpsAuthHeader')"
                                    }
                                }
                            },
                            "3b2_Send_To_Document_Intelligence": {
                                "type": "Http",
                                "runAfter": {
                                    "3b1_Download_File": [ "Succeeded" ]
                                },
                                "inputs": {
                                    "method": "POST",
                                    "uri": "@{concat(parameters('DocIntel_Endpoint'), '/formrecognizer/documentModels/', parameters('DocIntel_Model'), ':analyze?api-version=2023-07-31')}",
                                    "headers": {
                                        "Ocp-Apim-Subscription-Key": "@parameters('DocIntel_Key')",
                                        "Content-Type": "application/pdf"
                                    },
                                    "body": "@body('3b1_Download_File')"
                                },
                                "operationOptions": "DisableAsyncPattern"
                            }
                        }
                    }
                }
            }
        },
        "outputs": {}
    }
}
