logicapp-workflow-codeview.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "DevOps_Org": {
                "type": "string",
                "defaultValue": "REPLACE_YOUR_ORG_NAME"
            },
            "DevOps_Project": {
                "type": "string",
                "defaultValue": "REPLACE_YOUR_PROJECT_NAME"
            },
            "DevOps_PAT": {
                "type": "securestring",
                "defaultValue": "REPLACE_YOUR_PAT_TOKEN"
            },
            "DocIntel_Endpoint": {
                "type": "string",
                "defaultValue": "REPLACE_https://YOUR_INSTANCE.cognitiveservices.azure.com"
            },
            "DocIntel_Key": {
                "type": "securestring",
                "defaultValue": "REPLACE_YOUR_DOCUMENT_INTELLIGENCE_KEY"
            },
            "DocIntel_Model": {
                "type": "string",
                "defaultValue": "prebuilt-document"
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "workItemId": {
                                "type": "integer",
                                "description": "The ID of the work item to process."
                            }
                        },
                        "required": [ "workItemId" ]
                    }
                }
            }
        },
        "actions": {
            "1_Init_Auth_Header": {
                "type": "InitializeVariable",
                "runAfter": {},
                "inputs": {
                    "variables": [
                        {
                            "name": "DevOpsAuthHeader",
                            "type": "string",
                            "value": "@{concat('Basic ', base64(concat(':', parameters('DevOps_PAT'))))}"
                        }
                    ]
                }
            },
            "2_Get_Attachments": {
                "type": "Http",
                "runAfter": {
                    "1_Init_Auth_Header": [ "Succeeded" ]
                },
                "inputs": {
                    "method": "GET",
                    "uri": "@{concat('https://dev.azure.com/', parameters('DevOps_Org'), '/', parameters('DevOps_Project'), '/_apis/wit/workitems/', triggerBody()?['workItemId'], '/attachments?api-version=7.1-preview.1')}",
                    "headers": {
                        "Authorization": "@variables('DevOpsAuthHeader')"
                    }
                }
            },
            "3_Download_First_PDF": {
                "type": "Http",
                "runAfter": {
                    "2_Get_Attachments": [ "Succeeded" ]
                },
                "inputs": {
                    "method": "GET",
                    "uri": "@{body('2_Get_Attachments')?['value'][0]['url']}",
                    "headers": {
                        "Authorization": "@variables('DevOpsAuthHeader')"
                    }
                }
            },
            "4_Send_To_Document_Intelligence": {
                "type": "Http",
                "runAfter": {
                    "3_Download_First_PDF": [ "Succeeded" ]
                },
                "inputs": {
                    "method": "POST",
                    "uri": "@{concat(parameters('DocIntel_Endpoint'), '/formrecognizer/documentModels/', parameters('DocIntel_Model'), ':analyze?api-version=2023-07-31')}",
                    "headers": {
                        "Ocp-Apim-Subscription-Key": "@parameters('DocIntel_Key')",
                        "Content-Type": "application/pdf"
                    },
                    "body": "@body('3_Download_First_PDF')"
                },
                "operationOptions": "DisableAsyncPattern"
            },
            "5_Return_Response": {
                "type": "Response",
                "runAfter": {
                    "4_Send_To_Document_Intelligence": [ "Succeeded" ]
                },
                "inputs": {
                    "statusCode": 200,
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": "@body('4_Send_To_Document_Intelligence')"
                }
            }
        },
        "outputs": {}
    }
}
